.App {
  background-image: url('/src/images/Background.png');
  background-size:cover;
  display: flex;
  width: 100vw;
  height: 100vh;
}
@font-face {
	font-family: 'Roboto'; 
	src: url(/fonts/Roboto.ttf); 
}
.City{
  position: absolute;
  width: 131px;
  height: 47px;
  left: 40%;
  top: 2%;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 6vh;
  line-height: 130%;

  align-items: center;

  color: #FFFFFF;
}
.MainMidle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0vh;
  gap: 1vh;
  
  position: absolute;
  width: 20vw;
  height: 14vh;
  left: 39%;
  top: 9%;
}

.cloudDescriptionIcon {
  height: 12vh;
  width: 12vh;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.MainTemp{
  width: 5vw;
  height: 15vh;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300px;
  font-size: 10vh;
  line-height: 130%;

  display: flex;
  align-items: center;

  color: #FFFFFF;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.cloudDescription{
  position: absolute;
  width: auto;
  height: auto;
  left: 40%;
  top: 22%;
  text-align: center;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 4vh;
  line-height: 130%;
  display: flex;
  
  align-items: center;
  color: #FFFFFF;
}